# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtualenv
.venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# env
.env
.env.local
